.fa {
    font-size: 60px;
    position: relative;
    color: rgba(100, 120, 120, 120);
}

.fa:hover {
    font-size: 60px;
    position: relative;
    color: rgba(50, 50, 50, 50);
}

footer {
    min-height: 800px;
}

.m-right-10 {
    margin-right: 10px;
}

textarea {
    width: 100%
}

.contact {
    text-align: left;
}