<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app" class="h-100">
        <div class="container d-flex align-items-center h-100">
            <div>
                <div v-if="step === 1">
                    <h1>Hi!</h1>
                    <p class="lead">
                        Please rewrite the series of numbers into the fields below. Try to avoid erros and spend as litle time as possible.
                    </p>
                </div>

                <div v-if="step !== tasks.length + 1">
                    <div v-if="step !== 1">
                        <h1><strong> Step: {{ step }} / {{ tasks.length }} </strong></h1>
                    </div>


                    <form class="mt-5">
                        <div class="form-group">
                            <label for="#data-input">Enter number: <strong>{{ tasks[step-1] }}</strong></label>
                            <input  type="text"
                                    class="form-control"
                                    v-model="textInput"
                                    :class="{
                                        'is-invalid' : isValid === false,
                                        'is-valid' : isValid === true
                                    }"
                                    placeholder="Enter number here.."
                                    v-on:focus.once="startTimer">

                            <div class="invalid-feedback" v-show="!isValid">Sorry, you've made an error, please correct it and hit Next.</div>
                        </div>
                        <button type="button" class="btn btn-primary" v-on:click="validateInput()">Next</button>
                    </form>
                </div>

                    <div class="results" v-else>
                        <h1>Results</h1>
                        Ya made it mate!
                    </div>
                <transition name="fade">
                    <div class="success-popup bg-success d-flex align-items-center justify-content-center" v-if="isValid">
                        <h1>Correct! Move on to the next task.</h1>
                    </div>
                </transition>
            </div>
        </div>
    </div>

    <!-- Dependencies -->
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>

    <!-- Our app -->
    <script type="text/javascript" src="app.js"></script>
</body>

</html>